<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<div class="bg-cover bg-center h-screen relative" style="background-image: url('/images/dalle-hero.png');">
    <div class="h-full bg-opacity-50 bg-black flex items-center justify-center">
      <div class="text-center text-white px-4">
        <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mb-4">
          Discover, Collect, and Explore Record Collections
        </h1>
        <p class="text-xl sm:text-2xl mb-6">
          Join the community and start building your virtual record collection today!
        </p>
        <a href="/start-your-collection" class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded">
          Start Your Collection
        </a>
      </div>
    </div>
  </div>
  

</html>